WRANGLER_ACCOUNT_ID = <ID of account where CF worker is deployed>
TESTNET_AUTH_REQUIRED = <Whether or not to use the 'ALLOWED' KV store>
TESTNET_HORIZON_URL = <https://horizon-testnet.stellar.org|https://horizon.stellar.org> # https://horizon-testnet.stellar.org
TESTNET_TURRET_ADDRESS = <stellar-account to receive fees>
TESTNET_TURRET_FUNCTION_RUNNER_URL = <URL where testnet txFunction is hosted> # null
TESTNET_WRANGLER_WORKER_NAME = <Name of testnet CF worker> # tss-wrangler
TESTNET_WRANGLER_META = <ID of testnet wrangler KV 'META'>
TESTNET_WRANGLER_TX_FUNCTIONS = <ID of testnet wrangler KV 'TX_FUNCTIONS'>
TESTNET_WRANGLER_ALLOWED = <ID of public wrangler KV 'ALLOWED'>
TESTNET_FUNCTION_TIMEOUT = <The amount of seconds the function can run, must be the same as what you set later in serverless.> # 8
TESTNET_WRANGLER_XLM_FEE_MIN = <Minumum accepted value for testnet txFunctionFee transaction> # 1
TESTNET_WRANGLER_XLM_FEE_MAX = <Maximum accepted value for testnet txFunctionFee transaction> # 10
TESTNET_WRANGLER_UPLOAD_DIVISOR = <Divisor used to calculate testnet txFunction upload price> # 1000
TESTNET_WRANGLER_RUN_DIVISOR = <Testnet txFuntion runtime is divided by this number to calculate fee> # 1000000
PUBLIC_HORIZON_URL = <https://horizon-testnet.stellar.org|https://horizon.stellar.org> # https://horizon.stellar.org
PUBLIC_TURRET_ADDRESS = <stellar-account to receive fees>
PUBLIC_TURRET_FUNCTION_RUNNER_URL = <URL where public txFunction is hosted> # null
PUBLIC_WRANGLER_WORKER_NAME = <Name of public CF worker> # tss-wrangler
PUBLIC_WRANGLER_META = <ID of public wrangler KV 'META'>
PUBLIC_WRANGLER_TX_FUNCTIONS = <ID of public wrangler KV 'TX_FUNCTIONS'>
PUBLIC_AUTH_REQUIRED = <Whether or not to use the 'ALLOWED' KV store>
PUBLIC_WRANGLER_ALLOWED = <ID of public wrangler KV 'ALLOWED'>
PUBLIC_FUNCTION_TIMEOUT = <The amount of seconds the function can run, must be the same as what you set later in serverless.> # 8
PUBLIC_WRANGLER_XLM_FEE_MIN = <Minumum accepted value for public txFunctionFee transaction> # 1
PUBLIC_WRANGLER_XLM_FEE_MAX = <Maximum accepted value for public txFunctionFee transaction> # 10
PUBLIC_WRANGLER_UPLOAD_DIVISOR = <Divisor used to calculate public txFunction upload price> # 1000
PUBLIC_WRANGLER_RUN_DIVISOR = <Public txFuntion runtime is divided by this number to calculate fee> # 1000000